@import "tailwindcss";

@import "tw-animate-css";

@import "shadcn-svelte/tailwind.css";

@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.25 0.023 187.4);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.25 0.023 187.4);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.25 0.023 187.4);
  --primary: oklch(0.44 0.077 187.4);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.955 0.008 187.4);
  --secondary-foreground: oklch(0.25 0.038 187.4);
  --muted: oklch(0.97 0.002 187.4);
  --muted-foreground: oklch(0.52 0.015 187.4);
  --accent: oklch(0.965 0.002 187.4);
  --accent-foreground: oklch(0.25 0.023 187.4);
  --destructive: oklch(0.584 0.239 28.5);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.925 0.004 187.4);
  --input: oklch(0.925 0.004 187.4);
  --ring: oklch(0.44 0.077 187.4 / 0.9);
  --chart-1: oklch(0.25 0.077 187.4);
  --chart-2: oklch(0.35 0.077 187.4);
  --chart-3: oklch(0.55 0.077 187.4);
  --chart-4: oklch(0.75 0.077 187.4);
  --chart-5: oklch(0.85 0.077 187.4);
  --sidebar: oklch(0.984 0.002 187.4);
  --sidebar-foreground: oklch(0.25 0.023 187.4);
  --sidebar-primary: oklch(0.44 0.077 187.4);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.965 0.002 187.4);
  --sidebar-accent-foreground: oklch(0.25 0.023 187.4);
  --sidebar-border: oklch(0.925 0.004 187.4);
  --sidebar-ring: oklch(0.925 0.004 187.4);
  --font-sans: "Nunito Sans", sans-serif;
  --font-heading: "Nunito Sans", sans-serif;
  --radius: 0.75rem;
  --shadow-2xs: 0 1px 0 0 oklch(0.55 0.012 187.4 / 0.05);
  --shadow-xs: 0 1px 2px 0 oklch(0.55 0.012 187.4 / 0.05);
  --shadow-sm: 0 1px 3px 0 oklch(0.55 0.012 187.4 / 0.1), 0 1px 2px -1px oklch(0.55 0.012 187.4 / 0.1);
  --shadow-md: 0 4px 6px -1px oklch(0.55 0.012 187.4 / 0.1), 0 2px 4px -2px oklch(0.55 0.012 187.4 / 0.1);
  --shadow-lg: 0 10px 15px -3px oklch(0.55 0.012 187.4 / 0.1), 0 4px 6px -4px oklch(0.55 0.012 187.4 / 0.1);
  --shadow-xl: 0 20px 25px -5px oklch(0 0 0 / 0.1), 0 8px 10px -6px oklch(0.55 0.012 187.4 / 0.1);
  --shadow-2xl: 0 25px 50px -12px oklch(0.55 0.012 187.4 / 0.15);
}

.dark {
  --background: oklch(0.15 0.008 187.4);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.17 0.008 187.4);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.18 0.008 187.4);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.44 0.077 187.4);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.52 0.077 187.4 / 0.25);
  --secondary-foreground: oklch(0.9 0.077 187.4);
  --muted: oklch(0.25 0.005 187.4);
  --muted-foreground: oklch(0.75 0.012 187.4);
  --accent: oklch(0.38 0.008 187.4);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.69 0.2 23.9);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.29 0.005 187.4);
  --input: oklch(0.29 0.005 187.4);
  --ring: oklch(0.52 0.077 187.4);
  --chart-1: oklch(0.35 0.077 187.4);
  --chart-2: oklch(0.55 0.077 187.4);
  --chart-3: oklch(0.75 0.077 187.4);
  --chart-4: oklch(0.9 0.077 187.4);
  --chart-5: oklch(0.99 0.077 187.4);
  --sidebar: oklch(0.11 0.005 187.4);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0.2 0.005 187.4);
  --sidebar-accent: oklch(0.24 0.005 187.4);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.28 0.005 187.4);
  --sidebar-ring: oklch(0.52 0.077 187.4);
  --shadow-2xs: 0 1px 3px 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0 hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
	html {
		@apply font-sans;
  }
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  letter-spacing: var(--tracking-normal);
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2, h3, .font-headline {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.business-hero-background {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./lib/assets/fluffs.jpg');
  clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
}

	:global(.embla__container) {
		border-radius: 0.75rem !important;
		overflow: hidden !important;
	}

	:global(.embla__slide) {
		border-radius: 0.75rem !important;
		overflow: hidden !important;
	}

  	.map-container {
		height: 350px;
		width: 100%;
		border-radius: 0.75rem;
	}

	:global(.custom-marker) {
		cursor: pointer;
		transition: transform 0.2s ease;
	}

	:global(.custom-marker:hover) {
		transform: scale(1.1);
	}

	:global(.custom-popup .maplibregl-popup-content) {
		padding: 0;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	}

  :global(.pop-card-image) {
    flex: 0 0 100%;
  }

   :global(.map-dialog .dialog-content) {
	max-width: 95vw !important;
	width: 95vw !important;
	height: 95vh !important;
	max-height: 95vh !important;
}

.custom-popup .maplibregl-popup {
  border-radius: 25px;
  background-color: pink;
}

/* Minimalist Scrollbar Styles */

/* For Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: none;
}

::-webkit-scrollbar-track {
  background: none !important;
  background-color: transparent !important;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #adadad
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-mask {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.adventure-gradient {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.3) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    transparent 100%
  );
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.maplibre-svelte-popup .maplibregl-popup-content {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  margin: 1rem 0;
}
.maplibre-svelte-popup .maplibregl-popup-tip {
  display: none;
}

.maplibregl-popup-content {
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

.maplibregl-popup-tip {
    border-top-color: white;
  }

    .map-container {
    height: 350px;
    width: 100%;
    border-radius: 0.75rem;
    z-index: 0;
    isolation: isolate;
  }

  .custom-marker {
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .custom-marker:hover {
    transform: scale(1.1);
  }

  .custom-popup .maplibregl-popup-content {
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .maplibregl-popup-content {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .custom-popup .maplibregl-popup-tip {
    border-top-color: white;
  }